.hello{
    margin: auto;
    padding: 50px;
    height: 75vh;
    width: 20vw;
    border: 3px solid gray;
    border-radius: 4%;
    box-shadow: 2px 2px 8px grey;
}
.goodhello{
    border: 2px solid black;
    border-radius: 3%;
    position: relative;
    top: -45px;
    height: 310px;
    width: 389px;
    left: -41px;
}
.bye{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    text-transform: capitalize;
    font-weight: bold;
    font-variant: small-caps;
    position: relative;
    top: -12px ;
    left: -32px;
}
.goodbye{
    color: rgb(154, 148, 148);
    position: relative;
    width: 357px;
    top: -20px;
    left: -33px;
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
}
.cup{
    border: 2px solid darkgray;
    border-radius: 8px;
    margin: auto;
    padding: 3px;
    position: relative;
    top: -15px;
    left: -27px;
}
.glass{
    border: 2px solid darkgray;
    border-radius: 8px;
    margin: auto;
    padding: 3px;
    position: relative;
    top: -15px;
    left: -27px;
}
.tata{
    color: rgb(93, 187, 218);
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    position: relative;
    top: -15px;
    left: 84px;
}
